body{
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 150px;
}
h1{
    font-size: 50px;

}
/* h2{
    width: 40%;
} */
.orange-color{
    color: orange;
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 20px;
}
.top-banner img{
    width: 100%;
}
.half-width{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big img{
    width: 100%;
}
.flexible-container{
    display: flex;
}
.footer{
    text-align: center;
    justify-content: end;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}
#experience-full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(tomato,salmon);
    border-image-slice: 1;
}
#experience-baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.experience-item{
    width: 40%;
    margin: 4%;
    padding: 30px;
    box-shadow: 10px 10px 40px gray;
}